@use "../../styles/settings/variables.scss" as *;

.pagination {
  display: flex;
  position: absolute;
  top: -2rem;
  right: 5rem;

  label {
    position: relative;
  }

  span {
    margin-right: 2rem;
    align-self: center;
    color: $color-white-base;
    font-family: $font-function;
    font-size: var(--font-function-size);
    font-weight: bold;
  }

  button.forward,
  button.back {
    border-radius: 5px;
    background-color: $color-gray-light;

    &:disabled {
      background-color: $color-gray-dark;
    }
  }
}

@media (max-width: $breakpoint) {
  .pagination {
    top: -1rem;
  }

  button.forward,
  button.back {
    position: relative;
    top: -2px;
    height: 20px;
    width: 25px;
    padding: 1px 4px;
    font-size: 1.1rem;
  }
}
