//  --------------------------------------------------------------------------------
//  Contains all style related to header of the site/application
//  --------------------------------------------------------------------------------

@use "../abstracts/variables" as *;

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    height: 130px;
    width: 130px;
  }
  h1 {
    position: relative;
    top: -75px;
    color: $color-gray-light;
    // font-family: $font-content;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 1px 1px darkgray;
  }

  h3 {
    position: relative;
    top: -110px;
    left: 0;
    text-align: center;
    color: $color-yellow-base;
    // font-family: $font-function;
    font-size: 1.5rem;
  }
}